<!-- <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Editer Utilisateur</h2>
        <form [formGroup]="UserForm" (ngSubmit)="onSaveUser()">
            <div class="form-group">
                <label for="id">ID_user</label>
                <input type="number" class="form-control" id="id" value="test" formControlName="id">
            </div>
            <div class="form-group">
                <label for="nomdutilisateur">Nom d'utilisateur user</label>
                <input type="text" class="form-control" id="nomdutilisateur" value="test" formControlName="nomdutilisateur">
            </div>
            <div class="form-group">
                <label for="gid">Groupe_user</label>
                <select  class="form-control" id="gid" formControlName="gid">
                    <option value="22">Agent Facture</option>
                    <option value="23">Manager Facture</option>
                    <option value="24">Administarteur</option>
                </select>
            </div>
            <div class="form-group">
                <label for="email">Email_user</label>
                <input type="email" class="form-control" id="email" formControlName="email"> 
            </div>
            <div class="form-group">
                <label for="etat">Etat_user</label>
                <select class="form-control" id="etat" formControlName="etat">
                    <option value="actif">Actif</option>
                    <option value="nonactif">Non actif</option>
                </select>
            </div>
            <br>
            <button class="btn btn-success" 
                    [disabled]="UserForm.invalid || fileIsUploading" 
                    type="submit">Enregistrer</button>
        </form>
    </div>
</div> -->