<div class="container-fluid">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


            <h1>Utilisateurs</h1>

            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" (click)="onNewUser()">Ajouter</button>
                </div>                
            </div>
            <br>
            <form class="example" action="action_page.php" >
                <input type="text" placeholder="Search.." name="search">
                <button class="btn btn-primary" type="submit" ><i class="fa fa-search" ></i></button>
            </form>

            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                <tr>
                    <th>Nom d'utilisateur</th>
                    <th>Groupe</th>
                    <th>Etat</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody >
                <tr *ngFor="let user of users | paginate: {
                    itemsPerPage: pageSize,
                    currentPage: page,
                    totalItems: count
                    }; let i= index " >

                    
                    <td>
                        
                        {{ user?.nomdutilisateur }}
                    </td>
                    
                    <td>
                    <span *ngIf="user?.gid == 22" >Agent facture</span>
                    <span *ngIf="user?.gid == 23" >Manager</span>
                    <span *ngIf="user?.gid == 24" >Admin</span>
                    </td>
                    
                    <td>
                    <span class="text-success" *ngIf="user?.etat == true">Actif</span>  
                    <span class="text-danger" *ngIf="user?.etat == false">Non Actif</span>    
    
                    </td>
                    <td>
                        <button class="btn btn-info" (click)="onViewUser(i)">
                            Détail
                        </button>

                        <button type="button" class="btn btn-primary" >
                            Edit
                        </button>

                        <button class="btn btn-danger" (click)="onDeleteUser(user)" >
                            Supprimer
                        </button>
                    
                    
                    </td>
                </tr>
                
                </tbody>
            </table>

                <div class="row">
                        <div class="col-md-6">
                            <pagination-controls
                                previousLabel="Prev"
                                nextLabel="Next"
                                [responsive]="true"
                                (pageChange)="handlePageChange($event)"
                                >
                            </pagination-controls>
                        </div>
                        
                        <div class="col-md-6">
                            <strong>Element par page :</strong>
                            <select (change)="handlePageSizeChange($event)" >
                                <option *ngFor="let size of pageSizes" [ngValue]="size">
                                    {{size}}
                                </option>
                            </select>
                        </div>
                </div>

            
            
                
</div>
