<div class="row">
    <div class="col-xs-12">
        <img style="max-width:400px" *ngIf="user?.photo" [src]="user?.photo"> 

        <h1>Utilisateur</h1>
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th>Nom d'utilisateur</th>
                <th>Groupe</th>
                <th>Email</th>
                <th>Date creation</th>
              </tr>
            </thead>
            <tbody >
              <tr>
                
                <td>
                  <!--<span class="badge circle circle-md bg-primary mr-2">{{ firstcaractername() | uppercase }}</span>-->
                  {{ user?.nomdutilisateur }}
                </td>
                
                <td>
                  <p *ngIf="user?.gid == 22" >Agent facture</p>
                  <p *ngIf="user?.gid == 23" >Manager</p>
                  <p *ngIf="user?.gid == 24" >Admin</p>
                </td>
                <td>
                     {{ user?.email }}   
                </td>
                   
                <td>
                  
                  {{ user?.datecreation | date :'dd/MM/YYYY H:m:s' }} 
                </td>
                
                
            </tr>
              
            </tbody>
          </table>

          <br>

        
        
        <button class="btn btn-primary" (click)="onBack()" >Retour</button>
    </div>
</div>