<div class="row">
    <h2>resetPassword</h2>
    <div class="col-sm-8 col-sm-offset-2">
      <form [formGroup]="ResetPasswordForm" (ngSubmit)="resetPasswordForm()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control" formControlName="email">
        </div>
        <br>
        <button class="btn btn-primary" type="submit">resetPassword</button>
        <br>
        <br>
        <button class="btn btn-primary" (click)="onBack()" >Retour</button>


      </form>  
      <p class="text-danger">{{errorMessage}}</p>

    </div>
    
</div>